{% extends 'base.html.twig' %}

{% block title %}MyCollec - Enregistrer un jeu
{% endblock %}

{% block body %}

	<h2>Enregister un nouveau jeu dans la base de données:</h2>

	{{form(form)}}{% endblock %}
